/* outline: 1px red solid;
spacing metrics: em, vw, px 
round button: border-radius: 14px
box-shadow: 0px 2px 4px black, can also use text shadow*/


/* Element Selectors*/

button{
    border-radius: 14px;
    background-color: rgb(37, 91, 229);
    box-shadow: 0px 2 px 4px black;
    padding: 10px 12px;
    color: white;
    
}

body{
    background-color:  rgb(5, 5, 52);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100dvh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav a{
    margin: 2em;
}
nav {
    margin-top: 0.1em;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

main{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
main section{
    margin: 10vw;
    width: 50%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3em;         
}
section h1{
    font-size: xx-large;
}

footer nav{
    color: blue;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    text-decoration: underline;
    min-height: 8em;
    margin-bottom: none;
}
footer section{
    background-color: rgb(240, 233, 233);
    height: 10em;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer h1{
    display: flex;
    justify-content: space-around;
}
footer p{
    display: flex;
    justify-content: space-around;
} 

/* Class Selectors*/

.services{
    color: #cbcb1e;
}

.logo{
    display: flex;
    height: 60px;
    padding: 1em;
}

.para-pad{
    margin: 0;
    line-height:1.4em;
}

.top-pad{
    margin-top: 1em;
    line-height: 1.7em;
}

.w-50{
    width: 50%;
}

@media screen and (max-width: 768px){
    /* body{
        background-color: purple;  
    } */

    main img{
        display: flex;
        order: 1;
    }
    main{
        flex-wrap: wrap;
    }
    .w-50{
        width: 100%;
    }
    main section{
        order:2;
    }
    footer{
        flex-wrap: wrap;
    }
    footer nav{
        flex-direction: column;
    }
    header nav{
        align-items: space-between;
        font-size: 50%;
    }
    button{
        padding: 0.5;
    }
}